*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #202230;
  margin-top: 86px;
}
.container{
  width: 84%;
}
ul{
  list-style: none;
  padding: 0px 15px;
}
.site-nav{
  flex-grow: 1;
}
.list-item{
  padding: 32px 0px;
  margin: 0px 18px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.active{
  border-color: #00a85c;
}
.list-item:hover{
  border-color: #00a85c;
}
.header-logo{
  padding: 0px 15px;
}
.list-item{
  font-size: 16px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.bx-chevron-down{
  font-weight: bold;
  position: relative;
  top: 2px;
  margin-left: 2px;
}
#site-header{
  position: fixed ;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 10%);
  background-color: #fff;
}
.nav-btn{
  width: 45px;
  height: 45px;
  background-color: #eff5f3;
  color: #767676;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.nav-btn .bx{
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: 3px;
}
.nav-btn:hover{
  color: #00a85c;
}
.nav-btn:not(:last-child){
  margin-right: 20px;
}
.dropdown{
  width: 300%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #fff;
  opacity: 0;
  height: 0;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 10px;
}
.dropdown-item{
  padding: 12px;
  font-size: 16px;
  color: #696969;
  font-weight: 300;
}
.dropdown-item:not(:last-child){
  border-bottom: 0.5px solid #c4c1c193;
}
.list-item:nth-child(1):hover .dropdown{
  opacity: 1;
  height: 210px;
  padding: 20px;
}
.dropdown-item:hover{
  color: #00a85c;
}
.dropdown-explopre{
  position: absolute;
  top: 110%;
  left: -330%;
  width: 800%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 10px;
}
.list-item:nth-child(2):hover .dropdown-explopre{
  opacity: 1;
  height: 230px;
  padding: 16px 30px;
}
.box-title{
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-bottom: 0.5px solid #c4c1c193;
}
.dropdown-item2{
  padding: 10px 0px;
  font-size: 16px;
  color: #696969;
  font-weight: 300;
}
.dropdown-item2:hover{
  color: #00a85c;
}
.list-item:nth-child(3):hover .dropdown{
  opacity: 1;
  height: 170px;
  padding: 20px;
  width: 400%;
}
.list-item:nth-child(4):hover .dropdown{
  opacity: 1;
  height: 210px;
  padding: 20px;
  width: 400%;
}
.list-item:nth-child(5):hover .dropdown{
  opacity: 1;
  width: 400%;
  height: 520px;
  padding: 20px;
}
#hero-part{
 padding: 100px 20px 80px 20px;
 background: linear-gradient(-90deg, rgba(207,240,230,1) 13%, rgba(241,251,249,1) 65%);
 position: relative;
}
.hero-heading{
  font-size: 80px;
  color: #001d23;
  margin-bottom: 35px;
}
.hero-desc{
  margin-top: 60px;
}
.hero-par{
  font-size: 22px;
  line-height: 30px;
  border-left: 2px solid #00a85c;
  padding: 0px 20px;
  margin-bottom: 35px;
}
.hero-btn:nth-child(1){
  cursor: pointer;
  border: none;
  background-color: #00a85c;
  padding: 18px 30px;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-right: 25px;
}
.hero-btn:hover{
  opacity: 0.9;
}
.bxs-chevron-right{
  position: relative;
  top: 3px;
}
.hero-btn:nth-child(2){
  cursor: pointer;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: #00a85ca8 0px 0px 20px 0px;
  background-color: #fff;
}
.bx-play{
  font-size: 36px;
  color: #00a85c;
}
.layer-1{
  position: absolute;
  top: -6%;
  left: -1%;
}
.layer-2{
  position: absolute;
  top: -6%;
  right:  -1%;
}
.circle{
  position: absolute;
  bottom: 24%;
  right: 9%;
  z-index: 10;
  animation: rotation 3s infinite linear ;
}
@keyframes rotation {
  from {
     transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
}
.hero-img{
  z-index: 20;
  position: relative;
}
.orange-circle{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid #fd9735;
  position: absolute;
  top: 23%;
  right: 10%;
  animation: scale 1.5s infinite ease alternate;
}
@keyframes scale {
  from {
    transform: scale(0.7);
  opacity: 0.5;
 }
 to {
  transform: scale(1);
 }
}
.purple-circle{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid #7d26ff;
  position: absolute;
  bottom: 26%;
  left: 7%;
  animation: scale 1.5s infinite ease alternate;
}
.img-hero:hover{
  animation: img 1.5s infinite ease alternate;
}
.img-hero{
  position: relative;
  left: -80px;
}
@keyframes img {
  0%{
    transform: translate(5px,-5px);
  }
  50%{
    transform: translate(-5px,10px);
  }
  75%{
    transform: translate(10px,-10px);
  }
  100%{
    transform: translate(5px,-5px);
  }
}
.funds-inner{
  background-color: #00a85c;
  background-image: url('../images/bgimage.png');
  background-position: center;
  background-size: cover;
  height: 186px;
  position: relative;
  top: -100px;
  z-index: 100;
  line-height: 186px;
  padding: 0px 40px;
  align-items: center;
}
.funds-title{
  color: #fff;
  font-size: 40px;
}
.funds-btn{
  cursor: pointer;
  height: 56px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 15px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  transition: 0.5s ease;
}
.bx-right-arrow-alt{
  font-weight: bold;
  position: relative;
  top: 2px;
}
.funds-btn:hover{
  background-color: #fff;
  color: #000;
}
.categories-text{
  font-size: 15px;
  color: #00a85c;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.categories-title{
  font-size: 42px;
  color: #1f2230;
  margin-bottom: 30px;
}
.categories-inner{
  position: relative;
}
.categories-btn{
  cursor: pointer;
  border: none;
  height: 52px;
  padding: 15px 30px;
  background-color: #00a85c;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.4s ease;
}
.categories-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.categories-btn:hover .bx{
  transform: translateX(6px);
}
.category{
  font-family: "Shadows Into Light";
  font-size: 60px;
  font-weight: 400;
  color: var(--funden-heading-color);
  opacity: .1;
  letter-spacing: -.5px;
  position: absolute;
  left: 0;
  top: -6%;
}
.categories-list{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: repeat(2,132px);
  grid-gap: 30px;
  padding: 60px 20px;
  padding-right: 60px;
}
.title{
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px;
  color: #1f2230;
}
.categories-item,
.active-item{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 35px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.active-item::before{
  content: '';
  width: 96%;
  height: 5px;
  display: inline-block;
  background-color: #00a85c;
  position: absolute;
  bottom: 0;
  right: 0;
}
.active-item::after{
  content: '';
  width: 5px;
  height: 90%;
  display: inline-block;
  background-color: #00a85c;
  position: absolute;
  bottom: 0;
  right: 0;
}
.categories-item:before{
  content: '';
  width: 96%;
  height: 5px;
  display: inline-block;
  background-color: #00a85c;
  position: absolute;
  bottom: 0;
  right: -100%;
 transition: 0.4s ease-in-out;
}
.categories-item::after{
  content: '';
  width: 5px;
  height: 90%;
  display: inline-block;
  background-color: #00a85c;
  position: absolute;
  bottom: -100%;
  right: 0;
  transition: 0.4s ease-in-out;
}
.categories-item:hover::before{
  right: 0;
}
.categories-item:hover::after{
 bottom: 0;
}